body{
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

.feed-subheader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
}

.feed-subheader h2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #424242;
  border-bottom: 1px solid #424242;
  height: 77%;
}

.feed-subheader h2:hover{
  background-color: #252525;
  border-bottom: 2px solid #1672b0;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
}

ul::-webkit-scrollbar{
  width: 0;
  display: none;
}

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
