<body>
  <div class="sidebar">
    <img class="sidebar-logo" routerLink="/home" src="assets/img/twitter-logo.png"/>
    <div class="sidebar-options">
      <mat-icon>home</mat-icon>
      <h2 class="sidebar-options-text">Home</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>search</mat-icon>
      <h2 class="sidebar-options-text">Explore</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>notifications</mat-icon>
      <h2 class="sidebar-options-text">Notifications</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>mail</mat-icon>
      <h2 class="sidebar-options-text">Messages</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>list_alt</mat-icon>
      <h2 class="sidebar-options-text">Lists</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>bookmarks</mat-icon>
      <h2 class="sidebar-options-text">Bookmarks</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>group</mat-icon>
      <h2 class="sidebar-options-text">Communities</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>check_circle</mat-icon>
      <h2 class="sidebar-options-text">Verified</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>person_outline</mat-icon>
      <h2 class="sidebar-options-text">Profile</h2>
    </div>
    <div class="sidebar-options">
      <mat-icon>more</mat-icon>
      <h2 class="sidebar-options-text">More</h2>
    </div>
    <button class="sidebar-post-btn">Post</button>
  </div>
  <div class="feed">

    <div class="feed-header">
      <h2>Home</h2>
    </div>
    <div class="feed-subheader">
      <h2 [style]="fyHeader" (click)="getSelectedHeader('For You')">For you</h2>
      <h2 [style]="followingHeader" (click)="getSelectedHeader('Following')">Following</h2>
    </div>

    <div class="tweetBox">
      <form>
        <div class="tweetbox-input" [formGroup]="tweetForm">
          <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"/>
          <textarea type="text" placeholder="What's happening?" formControlName="tweetContent"></textarea>
        </div>
        <img class="tweetBox-tweetImg" [src]="imageUrl" *ngIf="showImage">
        <div class="tweetBox-options">
          <div class="tweetBox-options-selection">
            <mat-icon (click)="imageInput.click()" color="primary" class="tweetBox-icons">image</mat-icon>
            <input #imageInput type="file" style="display: none;" (change)="handleImageSelected($event)">
            <mat-icon (click)="gifInput.click()" color="primary" class="tweetBox-icons">gif_box</mat-icon>
            <input #gifInput type="file" style="display: none;" (change)="handleGifSelected($event)">
            <mat-icon color="primary" class="tweetBox-icons">ballot</mat-icon>
            <mat-icon color="primary" class="tweetBox-icons">mood</mat-icon>
            <mat-icon color="primary" class="tweetBox-icons">calendar_month</mat-icon>
            <mat-icon color="primary" class="tweetBox-icons">location_on</mat-icon>
          </div>
          <button class="tweetBox-btn" (click)="submitTweet()">Post</button>
        </div>
      </form>
    </div>

    <div class="post">
      <div class="post-avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"/>
      </div>
      <div class="post-body">
        <div class="post-header">
          <div class="post-headerText">
            <h3>
              {{nickname}}
              <span class="post-headerSpecial"
                ><span class="material-icons post-badge"> verified </span>@{{username}}</span
              >
            </h3>
          </div>
          <div class="post-headerDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
          <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"/>
        <div class="post-footer">
          <mat-icon class="post-footer-icon"> chat_bubble </mat-icon>
          <mat-icon class="post-footer-icon"> repeat </mat-icon>
          <mat-icon class="post-footer-icon"> favorite_border </mat-icon>
          <mat-icon class="post-footer-icon"> publish </mat-icon>
        </div>
      </div>
    </div>

  </div>

  <div class="widgets">
    <div class="widgets-input">
      <span class="material-icons widgets-searchIcon"> search </span>
      <input class="widgets-input-search" type="text" placeholder="Search Twitter" />
    </div>
    <div class="widgets-widgetContainer">
      <h2>What's happening?</h2>

    </div>
  </div>

</body>
