<body>

  <app-sidebar
    class="sidebar"
    [user]="user"
    (callProfilePage)="callProfilePage()"
    (callHomePage)="callHomePage()">
  </app-sidebar>

  <div class="feed">
    <div class="feed-header">
      <h2 *ngIf="homePage">Página Inicial</h2>
      <button *ngIf="profilePage" (click)="callHomePage()" class="close-btn"><mat-icon color="accent">arrow_back</mat-icon></button>
      <h2 *ngIf="profilePage">{{user?.name}}</h2>
    </div>

    <div class="feed-subheader" *ngIf="homePage">
      <h2 [style]="fyHeader" (click)="getSelectedHeader('For You')">Para você</h2>
      <h2 [style]="followingHeader" (click)="getSelectedHeader('Following')">Seguindo</h2>
    </div>

    <ul>
      <app-tweetbox
        *ngIf="homePage"
        [user]="user"
        (callLoadPosts)="loadAllPosts()">
      </app-tweetbox>

      <app-profile-page
        *ngIf="profilePage"
        [user]="user"
        [followingArray]="followingArray"
        [followersArray]="followersArray">
      </app-profile-page>

      <app-post
        *ngIf="homePage"
        [feedPosts]="allPosts"
        [user]="user"
        (callLoadPosts)="loadAllPosts()">
      </app-post>

      <app-post
        *ngIf="profilePage"
        [feedPosts]="userPosts"
        (callLoadPosts)="loadProfilePosts(user!.id)">
      </app-post>
    </ul>
  </div>

  <div class="widgets">
    <app-widgets></app-widgets>
  </div>

</body>
