<div class="container bg-color">
  <div class="left">
    <img class="left-img" src="assets/img/landing-page-background.png" alt="" />
  </div>
  <div class="right">
    <img class="right-icon" src="assets/img/twitter-logo.png" alt="" />

    <h1 class="right-title">Acontecendo agora</h1>
    <h2 class="right-subtitle">Inscreva-se no Twitter hoje mesmo.</h2>

    <div class="right-btns">
      <button class="right-btns-google-btn">
        <span></span>Inscrever-se com o Google
      </button>
      <button class="right-btns-apple-btn">
        <span></span>Inscrever-se com Apple
      </button>
    </div>
    <p class="right-divider"><span>ou</span></p>
    <button class="right-create-acc-btn bg-blue">Criar conta</button>
    <h2 class="right-has-acc-txt">Já tem uma conta?</h2>
    <button class="right-has-acc-btn" (click)="loginBtn()">Entrar</button>
  </div>
</div>
