<button class="close-btn"><mat-icon  color="accent" matDialogClose>close</mat-icon></button>
<div *ngIf="part1" mat-dialog-content class="container" >
  <img class="logo" src="assets/img/twitter-logo.png" />
  <h1 class="title">Encontre sua conta do Twitter</h1>
  <p class="subtitle"> Informe o nome de usuário associado à sua conta para alterar sua senha.</p>
  <form [formGroup]="resetPasswdForm">
    <mat-form-field class="resetPasswd-input-form-field" color="primary" appearance="outline">
      <mat-label>Nome de usuário</mat-label>
      <input type="text" matInput formControlName="username"/>
      <mat-hint class="error" *ngIf="resetPasswdForm.get('username')?.hasError('required') && resetPasswdForm.get('username')?.touched">
        O Nome de usuário não deve estar vazio.
      </mat-hint>
      <mat-hint class="error" *ngIf="resetPasswdForm.get('username')?.hasError('noUserFoundError') && resetPasswdForm.get('username')?.touched">
        Usuário não encontrado ou não existe.
      </mat-hint>
    </mat-form-field>
    <button class="resetPasswd-btn" (click)="getCodeBtn()">Avançar</button>
  </form>
</div>
<div *ngIf="part2" mat-dialog-content class="container" >
  <img class="logo" src="assets/img/twitter-logo.png" />
  <h1 class="title">Enviamos um código ao seu email.</h1>
  <p class="subtitle">Insira o código enviado ao seu email.</p>
  <form [formGroup]="codeForm">
    <mat-form-field class="resetPasswd-input-form-field" color="primary" appearance="outline">
      <mat-label>Código</mat-label>
      <input type="text" matInput formControlName="code"/>
      <mat-hint class="error" *ngIf="codeForm.get('code')?.hasError('required') && codeForm.get('code')?.touched">
        O campo de código não deve estar vazio.
      </mat-hint>
      <mat-hint class="error" *ngIf="codeForm.get('code')?.hasError('wrongCodeError') && codeForm.get('code')?.touched">
        O código inserido não corresponde ao enviado no email.
      </mat-hint>
    </mat-form-field>
    <button class="resetPasswd-btn" (click)="verifyCode()">Avançar</button>
  </form>
</div>
<div *ngIf="part3" mat-dialog-content class="container" >
  <img class="logo" src="assets/img/twitter-logo.png" />
  <h1 class="title">Insira sua nova senha</h1>
  <form [formGroup]="newPasswdForm">
    <mat-form-field class="resetPasswd-input-form-field" color="primary" appearance="outline">
      <mat-label>Senha</mat-label>
      <input type="password" matInput formControlName="newPassword"/>
      <mat-hint class="error" *ngIf="newPasswdForm.get('newPassword')?.hasError('required') && newPasswdForm.get('newPassword')?.touched">
        O campo de senha não deve estar vazio.
      </mat-hint>
    </mat-form-field>
    <mat-form-field class="resetPasswd-input-form-field" color="primary" appearance="outline">
      <mat-label>Confirmar Senha</mat-label>
      <input type="password" matInput formControlName="confirmPassword"/>
      <mat-hint class="error" *ngIf="newPasswdForm.get('confirmPassword')?.hasError('required') && newPasswdForm.get('confirmPassword')?.touched">
        O campo de confirmar senha não deve estar vazio.
      </mat-hint>
      <mat-hint class="error" *ngIf="newPasswdForm.get('confirmPassword')?.hasError('passwordMismatch') && newPasswdForm.get('confirmPassword')?.touched">
        As duas senhas não coincidem.
      </mat-hint>
    </mat-form-field>
    <button class="resetPasswd-btn" (click)="sendNewPassword()">Avançar</button>
  </form>
</div>
