<div>
  <img class="sidebar-logo" (click)="homeBtn()"src="assets/img/twitter-logo.png"/>
  <div class="sidebar-options">
    <mat-icon>home</mat-icon>
    <h2 class="sidebar-options-text" (click)="homeBtn()">Página Inicial</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>search</mat-icon>
    <h2 class="sidebar-options-text">Explorar</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>notifications</mat-icon>
    <h2 class="sidebar-options-text">Notificações</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>mail</mat-icon>
    <h2 class="sidebar-options-text">Mensagens</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>list_alt</mat-icon>
    <h2 class="sidebar-options-text">Listas</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>bookmarks</mat-icon>
    <h2 class="sidebar-options-text">Itens Salvos</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>check_circle</mat-icon>
    <h2 class="sidebar-options-text">Premium</h2>
  </div>
  <div class="sidebar-options" (click)="profileBtn()">
    <mat-icon>person_outline</mat-icon>
    <h2 class="sidebar-options-text">Perfil</h2>
  </div>
  <div class="sidebar-options">
    <mat-icon>more</mat-icon>
    <h2 class="sidebar-options-text">Mais</h2>
  </div>
  <button class="sidebar-post-btn">Postar</button>
</div>
