<li *ngFor="let post of feedPosts">
  <div class="post">
    <mat-card class="userInfoCard" [style.top]="cardPosition.top" [style.left]="cardPosition.left" *ngIf="currentHoveredPost === post" (mouseenter)="cancelHideUserInfo()" (mouseleave)="hideUserInfoCard(); leaveUserInfo()">
        <div class="userInfoCard-top">
          <img *ngIf="post.author.profilePicture" [src]="post.author.profilePicture.imageUrl" alt="User Avatar" />
          <img *ngIf="!post.author.profilePicture" src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="Default Avatar" />
          <button mat-button *ngIf="user?.username != post.author.username" (click)="follow(post.author.username)">Follow</button>
        </div>
        <div class="userInfoCard-mid">
          <h1>{{post.author.name}}</h1>
          <h2>@{{post.author.username}}</h2>
          <p>{{post.author.bio}}</p>
        </div>
        <div class="userInfoCard-bottom">
          <div>
            <b>{{post.author.followingCount}}</b>
            <p>Following</p>
          </div>
          <div>
            <b>{{post.author.followersCount}}</b>
            <p>Followers</p>
          </div>
        </div>
    </mat-card>
    <div class="post-avatar" (click)="navigateToIndividualPost(post.id)" (mouseenter)="showUserInfoCard(post, $event)" (mouseleave)="hideUserInfoCard()">
      <img *ngIf="post.author.profilePicture" [src]="post.author.profilePicture.imageUrl" alt="User Avatar" />
      <img *ngIf="!post.author.profilePicture" src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="Default Avatar" />
    </div>
    <div class="post-body">
      <div class="post-header" (mouseenter)="showUserInfoCard(post, $event)" (mouseleave)="hideUserInfoCard()">
        <div class="post-headerText">
          <h3>
            {{post.author.name}}
            <span class="post-headerSpecial">
              <span class="material-icons post-badge" *ngIf="post.author.verified"> verified </span>@{{post.author.username}} · <span class="post-date">{{post.postedDate | date:'dd-MM-yyyy HH:mm:ss'}}</span>
            </span>
          </h3>
        </div>
      </div>
      <div class="post-content" (click)="navigateToIndividualPost(post.id)">
        <p>{{post.content}}</p>
      </div>
      <ng-container *ngIf="post.images.length > 0" >
        <div *ngFor="let image of post.images">
          <img (click)="navigateToIndividualPost(post.id)" [src]="image.imageUrl"/>
        </div>
      </ng-container>
      <div class="post-footer">
        <div>
          <mat-icon title="Responder" class="post-footer-icon" (click)="navigateToIndividualPost(post.id)"> chat_bubble_outline </mat-icon>
        </div>
        <div>
          <mat-icon title="Repostar" class="post-footer-icon-repost" [ngClass]="{'post-footer-icon-repost-reposted': userHasReposted(post)}" (click)="repost(post.id)"> repeat </mat-icon>
          <p [ngClass]="{'post-footer-icon-repost-reposted': userHasReposted(post)}">{{post.reposts.length}}</p>
        </div>
        <div>
          <mat-icon title="Curtir" class="post-footer-icon-like" [ngClass]="{'post-footer-icon-like-liked': userHasLiked(post)}" (click)="likeToggle(post.id)">
            <ng-container *ngIf="userHasLiked(post); else notLiked"> favorite </ng-container>
            <ng-template #notLiked> favorite_border </ng-template>
          </mat-icon>
          <p [ngClass]="{'post-footer-icon-like-liked': userHasLiked(post)}">{{post.likes.length}}</p>
        </div>
        <div>
          <mat-icon title="Compartilhar" class="post-footer-icon"> publish </mat-icon>
        </div>
      </div>
    </div>
  </div>
</li>
