*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'chirp bold';
  src: url('assets/fonts/chirp-bold-web.ttf');
}

@font-face {
  font-family: 'chirp regular';
  src: url('assets/fonts/chirp-regular-web.ttf');
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  font-family: 'chirp regular', 'chirp bold';
  color: white;
}

.bg-blue{
  background-color: #1d9bf0;
}

.color-blue{
  color: #1d9bf0;
}

.bg-red{
  background-color: red;
}

.color-red{
  color: red;
}

.bg-gray{
  background-color: #536471;
}

.color-gray{
  color: #536471;
}

.dialog .mat-dialog-container{
  background-color: #000000;
}

mat-label{
  color: white;
}

.close-btn{
  height: 40px;
  width: 40px;
  background-color: black;
  border: none;
}

.close-btn:hover{
  background-color: #252525;
  border-radius: 100%;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-frame {
  border-color: #ffffff;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:  rgb(22, 92, 125) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:  rgb(22, 92, 125) !important;
  z-index: 3;
}

.mat-radio-button .mat-radio-outer-circle {
  border-color:  rgb(22, 92, 125) !important;
  z-index: 3;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
