<div class="header">
  <button class="close-btn" (click)="onStepBtnClicked()"><mat-icon  color="accent">{{stepIcon}}</mat-icon></button>
  <div class="step-counter">Etapa {{stepCounter}} de 5</div>
</div>
<div class="container" *ngIf="page1">
  <h1 class="title">Criar sua conta</h1>
  <form class="form-fields" (submit)="onNextBtnClicked()" [formGroup]="registerForm">
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>

    <h1 class="birthdate-title">Data de nascimento:</h1>
    <p class="birthdate-subtitle">Isso não será exibido publicamente. Confirme sua própria idade, mesmo se esta conta for de empresa, de um animal de estimação ou outros.</p>
    <div class="date-selectors">
      <mat-form-field class="select-date">
        <mat-label>Dia</mat-label>
        <mat-select matNativeControl formControlName="day">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
          <mat-option value="6">6</mat-option>
          <mat-option value="7">7</mat-option>
          <mat-option value="8">8</mat-option>
          <mat-option value="9">9</mat-option>
          <mat-option value="10">10</mat-option>
          <mat-option value="11">11</mat-option>
          <mat-option value="12">12</mat-option>
          <mat-option value="13">13</mat-option>
          <mat-option value="14">14</mat-option>
          <mat-option value="15">15</mat-option>
          <mat-option value="16">16</mat-option>
          <mat-option value="17">17</mat-option>
          <mat-option value="18">18</mat-option>
          <mat-option value="19">19</mat-option>
          <mat-option value="20">20</mat-option>
          <mat-option value="21">21</mat-option>
          <mat-option value="22">22</mat-option>
          <mat-option value="23">23</mat-option>
          <mat-option value="24">24</mat-option>
          <mat-option value="25">25</mat-option>
          <mat-option value="26">26</mat-option>
          <mat-option value="27">27</mat-option>
          <mat-option value="28">28</mat-option>
          <mat-option value="29">29</mat-option>
          <mat-option value="30">30</mat-option>
          <mat-option value="31">31</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select-date">
        <mat-label>Mês</mat-label>
        <mat-select matNativeControl formControlName="month">
          <mat-option value="Janeiro">Janeiro</mat-option>
          <mat-option value="Fevereiro">Fevereiro</mat-option>
          <mat-option value="Março">Março</mat-option>
          <mat-option value="Abril" >Abril</mat-option>
          <mat-option value="Maio">Maio</mat-option>
          <mat-option value="Junho">Junho</mat-option>
          <mat-option value="Julho">Julho</mat-option>
          <mat-option value="Agosto">Agosto</mat-option>
          <mat-option value="Setembro">Setembro</mat-option>
          <mat-option value="Outubro">Outubro</mat-option>
          <mat-option value="Novembro">Novembro</mat-option>
          <mat-option value="Dezembro">Dezembro</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select-date">
        <mat-label>Ano</mat-label>
        <mat-select formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button class="next-btn bg-blue" type="submit">Avançar</button>
  </form>
</div>
<div class="container2" *ngIf="page2">
  <h1 class="title">Confirme seus dados</h1>
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>Nome</mat-label>
      <input (click)="onWrongUserDataClicked()" [(ngModel)]="username" matInput/>
    </mat-form-field>
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input (click)="onWrongUserDataClicked()" [(ngModel)]="email" matInput/>
    </mat-form-field>
    <div class="error" *ngIf="registerForm.get('email')?.hasError('emailError')">
        {{ registerForm.get('email')?.getError('emailError') }}
    </div>
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input (click)="onWrongUserDataClicked()" [(ngModel)]="dob" matInput/>
    </mat-form-field>
    <p>Ao se inscrever, você concorda com nossos <a class="hyper-link">Termos</a>, com a <a class="hyper-link">Política de Privacidade</a> e com o <a class="hyper-link">Uso de Cookies</a>. O Twitter pode usar suas informações de contato, inclusive seu endereço de e-mail e seu número de telefone, para os fins descritos na nossa Política de Privacidade. <a class="hyper-link">Saiba mais</a></p>
    <button class="next-btn bg-blue" (click)="onRegister()">Inscrever-se</button>
</div>
<div class="container2" *ngIf="page3">
  <h1 class="title">Adicione um telefone</h1>
  <p>Adicione um telefone para associar com sua conta do Twitter Clone. <br> Você não recebera um código de verificação.</p>
  <form class="form-fields" (submit)="onSubmitPhoneNumber()" [formGroup]="phoneForm">
    <mat-form-field class="select-date">
        <mat-label>Código do país</mat-label>
        <mat-select matNativeControl formControlName="countryCode">
          <mat-option *ngFor="let code of countryCodes" [value]="code.dial_code">
            {{code.name}} ({{ code.dial_code }})
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>Número do Telefone</mat-label>
      <input matInput formControlName="phoneNo"/>
    </mat-form-field>
    <p>Permitir pessoas que tem seu numero de telefone encontrar e conectar com você no Twitter Clone. <a class="hyper-link">Saiba mais.</a></p>
    <mat-checkbox></mat-checkbox>
    <br>
    <p>Permitir que o Twitter clone use seu numero de telefone para personalizar nossos serviços, incluindo propagando, Se não permitir isto, o Twitter Clone ainda usara seu numero de telefone para propositos do tipo segurança da conta, prevenção de fraudes, spam e abusos. Veja nossa <a class="hyper-link">Politica de Privacidade</a> para mais informações.</p>
    <mat-checkbox></mat-checkbox>
    <button class="next-btn bg-blue" type="submit">Inscrever-se</button>
  </form>
</div>
<div class="container2" *ngIf="page4">
  <h1 class="title">Enviamos um código para seu email.</h1>
  <p>Insira o código recebido abaixo.</p>
  <form [formGroup]="codeForm" (submit)="sendCode()">
    <mat-form-field class="input-form-field" color="primary" appearance="outline">
      <mat-label>Código de Verificação</mat-label>
      <input matInput formControlName="code"/>
    </mat-form-field>
    <button class="next-btn bg-blue" type="submit">Enviar</button>
  </form>
</div>
<div class="container2" *ngIf="page5">

</div>
