<div mat-dialog-content class="container">
  <img class="logo" src="assets/img/twitter-logo.png" />
  <h1 class="title">Entrar no Twitter</h1>
  <div class="btns">
    <button class="btns-google-btn">
      <span></span>Inscrever-se com o Google
    </button>
    <button class="btns-apple-btn"><span></span>Inscrever-se com Apple</button>
  </div>
  <p class="divider"><span>ou</span></p>
  <form>
    <mat-form-field class="login-input-form-field" color="primary" appearance="outline">
      <input class="login-input" placeholder="Celular, e-mail ou nome de usuário" matInput/>
    </mat-form-field>
    <button class="login-btn" type="submit">Avançar</button>
  </form>
  <button class="forgot-password-btn">Esqueceu sua senha?</button>
  <p class="signup">Não tem uma conta? <a class="signup-btn">Inscreva-se</a></p>
</div>
